---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

<h1 class="page-heading">Posts by Category</h1>
 <ul class="post-list">
  {% for category in site.categories %}
   <li class="camelize_me">{{ category | first }}
    <ul>
    {% for posts in category %}
      {% for post in posts %}
	{% if post.url %}
        <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} ({{ post.date | date: "%b %-d, %Y" }})</a></li>
	{% endif %}
      {% endfor %}
    {% endfor %}
    </ul>
   </li>
  {% endfor %}
  </ul>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
